.grey-nav {
  background-color: rgba(220, 220, 220, 1);
  width: 15%;
  height: 102%;
  position: absolute;
  margin: -10px;
  padding: -10px;
}

.gameboard {
  margin: 9% 20%;
  display: inline-block;
}

.tic-tac-toe-board {
  display: inline-block;
  vertical-align: top;
  margin-right: 4%;
}

.scoreboard {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.rowzero {
  padding-left: 0px;
}

hr {
  color: rgba(210, 210, 210, 0.5);
  width: 100%;
  border: none;
  background-color: grey;
  height: 1px;
}

.button {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(190, 190, 190, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
  font-size: 17px;
  background-color: white;
  vertical-align: top;
  outline: 0;
}

.refresh-button {
  height: 22%;
  border: 1px solid rgba(170, 170, 170, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
  margin: 1% 1%;
  font-size: 12px;
  background-color: white;
  vertical-align: top;
  letter-spacing: 1px;
}

.name-button {
  height: 22%;
  border: 1px solid rgba(170, 170, 170, 1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
  margin: 1% 1%;
  font-size: 12px;
  background-color: white;
  vertical-align: top;
  letter-spacing: 1px;
}

input {
  height: 22%;
  width: 35%;
  border-top: 0px solid;
  border-right: 0px solid;
  border-left: 0px solid;
  border-bottom: 1px solid rgba(170, 170, 170, 1);
  color: rgba(170, 170, 170, 1);
  margin: 1% 1%;
  background-color: white;
  vertical-align: top;
  outline: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgba(130, 130, 130, 1);
  font-size: 27px;
  letter-spacing: 3px;
  margin: 0 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
  font-size: 12px;
  letter-spacing: 1px;
  margin: 1% 0 3% 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgba(130, 130, 130, 1);
  font-size: 15px;
  letter-spacing: 1px;
  margin: 5% 0 0 0;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
  font-size: 12px;
  letter-spacing: 1px;
  margin: 1% 0 3% 0;
}

p {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
  font-size: 14px;
  line-height: 20px;
  margin: 0 0;
}

.logo {
  width: 95%;
  margin: 90% auto;
}

.button:hover{
     background: rgba(240, 240, 240, 1);
}